@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 cla ss="display-4">Welcome</h1>
    <a class="btn btn-outline-primary" asp-action="List"><i class="bi bi-eye-fill"></i>Фильмы</a>
</div>
